@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 3px solid var(--border-color);
  border-top-color: var(--color-purple);
  animation: spinner 0.8s linear infinite;
  margin: 0 auto;
} 